<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>{{title}}</title>
  </head>
  <body>
    <h1 class="headTitle">{{head}} Overview</h1>

    <h2>Mikel Varvaro</h2>
    <p class="txt">curnetly a student at Georgian College, enroled in Computor
      Programer Analyst, Mikel is looking to get into the Web app development or
      <br />
      potentialy the Project managment sector after insperation from runig the
      CyberGrizzlies Esports Club.</p>
    <div><img
        class="imgCon"
        src="images/Snapchat-1860942160.jpg"
        alt="Picture of Mikel"
      /></div>
  </body>
</html>