<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>{{title}}</title>
  </head>
  <body>
    <h1 class="headTitle">{{title}}</h1>
    <div class="parent">
      <div class="item1"><h2>CyberGrizzlies Esports Club</h2><a
          href="https://www.cybergrizzlies.ca/"
        ><img
            class="img1"
            src="images/CyberGrizzlies Social Logo.png"
            alt="Cyber Grizzlies Logo"
          /></a></div>
      <div class="item2"><h2>Discord Chat Bot</h2>
        <a href="https://github.com/BallisticD0g/PingPong.git"><img
            class="img2"
            src="images/discord-logo.png"
            alt=""
          /></a></div>
    </div>

  </body>
</html>